/mavros/**:
  ros__parameters:
    plugin_denylist:
    - '*'
    plugin_allowlist: 
      - actuator_control
      - command
      - ftp
      - hil
      - local_position
      - global_position
      - imu
      - imu_pub
      - setpoint_velocity
      - sys_status
/**/imu:
  ros__parameters:
    frame_id: "imu_link_accel"
/**/global_position:
  ros__parameters:
    child_frame_id: "gps_link"
/**/local_position:
  ros__parameters:
    frame_id: "odom"
    tf:
      # send: true
      child_frame_id: "base_link"