<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="lidar_camera">
    <link name="zed_left_camera_optical_frame"></link>
    <link name="velodyne"></link>

    <joint name="camera_to_lidar" type="fixed">
        <origin xyz="0.07018073566954665 -0.10612744990375929 0.01631157058161572" rpy="1.6003576138834124 0.014907826408101659 -0.0010636379178425852"/>
        <parent link="zed_left_camera_optical_frame"/>
        <child link="velodyne"/>
    </joint>
    
</robot>