<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="sensor_mast">
    <link name="base_link"></link>
    <link name="gps_link"></link>
    <link name="imu_link"></link>
    <link name="velodyne"></link>
    <link name="zed_left_camera_optical_frame"></link>
    <link name="back_left_oak_rgb_camera_optical_frame"></link>
    <link name="back_right_oak_rgb_camera_optical_frame"></link>

    <joint name="base_to_velodyne" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0 0 -${pi/2}"/>
        <parent link="base_link"/>
        <child link="velodyne"/>
    </joint>

    <joint name="base_to_gps" type="fixed">
        <origin xyz="20.0 0.0 0.0" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="gps_link"/>
    </joint>

    <joint name="base_to_imu" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0 0 ${pi/2}"/>
        <parent link="base_link"/>
        <child link="imu_link"/>
    </joint>

    <joint name="velodyne_to_zed" type="fixed">
        <origin xyz="0.08630218352284266 0.12692593166077154 -0.27" rpy="-1.6 0.0 0.035"/>
        <parent link="velodyne"/>
        <child link="zed_left_camera_optical_frame"/>
    </joint>

    <joint name="velodyne_to_back_left_oak" type="fixed">
        <origin xyz="-0.05 0.12692593166077154 -0.25" rpy="-1.53 0.0 1.815"/>
        <parent link="velodyne"/>
        <child link="back_left_oak_rgb_camera_optical_frame"/>
    </joint>

    <joint name="velodyne_to_back_right_oak" type="fixed">
        <origin xyz="-0.05 -0.12692593166077154 -0.25" rpy="-1.57079632679 0.0 -1.85"/>
        <parent link="velodyne"/>
        <child link="back_right_oak_rgb_camera_optical_frame"/>
    </joint>
    
</robot>
