<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="sensor_mast">
    <link name="base_link"></link>
    <link name="gps_link"></link>
    <link name="imu_link"></link>
    <link name="zed_camera_link"></link>

    <joint name="base_to_zed" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="zed_camera_link"/>
    </joint>

    <joint name="base_to_gps" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="gps_link"/>
    </joint>

    <joint name="base_to_imu" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0 0 ${pi/2}"/>
        <parent link="base_link"/>
        <child link="imu_link"/>
    </joint>
    
</robot>